@import 'aos/dist/aos.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-accent: #f6700d;
  --color-accent-dark: #EA3500;
  --black:#0c0c0c;
  --black2:#252525;
  --primary:#f6700d;
  --primarydark:#EA3500;
  --white:#fff;
  --darkgray:#2e2e2e;
  --lightgray:#d8d8d8;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-950 text-gray-100;
    font-family: "Outfit", system-ui;
  }

  * {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.prose {
  color: #e5e7eb;
  max-width: 65ch;
}

.prose h2 {
  color: #f6700d;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose strong {
  color: #ffffff;
  font-weight: 600;
}

.prose a {
  color: #f6700d;
  text-decoration: none;
}

.prose a:hover {
  color: #EA3500;
}
